.img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

html, body{
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10px;
}

.custom-navbar {
  background-color: #531112;
}

.nav-link {
  color: #fff; /* dark text */
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(201, 11, 11)112;
}

/* Brand */
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}

@keyframes fade-in{
   0% {
       opacity: 0;
       transform: translateY(10px) scale(0.96);
   }

   100% {
       opacity: 1;
       transform: translateY(0) scale(1);
   }
}

.history{
    margin-top: 7rem;
}


.history span{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
}

.history p{
    font-size: 13px;
    margin: 0 30px;
    line-height: 2.3;
}

.img-thumbnail{
    height: 24rem;
    width: 20rem;
    border: none;
    border-radius: 10px;
    animation: fade-in 1s 2s ease backwards;
}

.box{
    background-color: rgba(161, 159, 159, 0.096);
    padding: 10px;
    margin-top: 20px;
}

.row1{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.row2{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 10px;
}

.section-divider {
  height: 1px;
  background: #ddd;
  margin: 60px 0;
}

.vision-text, .mission-text {
  max-width: 520px;
}

.box2{
    background-color: #531112;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
}

.mandate-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.box2 p{
    font-weight: 600;
}

.box3{
    background-color: rgba(161, 159, 159, 0.096);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer{
    background-color: #531112;
    color: #fff;
}

.nav-links2 a{
    text-decoration: none;
    color: #ffffffb6;
    margin-right: 20px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 13px;
}

.nav-links2 a:hover{
   color: #960508;  
}

.paragraph{
    font-size: 13px;
    color: #ffffffb6;
}

.prayer{
    margin-right: 2rem;
}

.row4{
    gap: 20px;
}

.to-top{
    font-size: 3rem;
    /* color: #f6099b; */
    color: red;
    position: fixed;
    bottom: 16px;
    right: 32px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

.to-top.active{
    pointer-events: auto;
    opacity: 1;
}


