.img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

html, body{
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10px;
}

.custom-navbar {
  background-color: #531112;
}

.nav-link {
  color: #fff; /* dark text */
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(201, 11, 11)112;
}

/* Brand */
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}

@keyframes fade-in{
   0% {
       opacity: 0;
       transform: translateY(10px) scale(0.96);
   }

   100% {
       opacity: 1;
       transform: translateY(0) scale(1);
   }
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2{
    margin-top: 7rem;
    animation: intro 1s 1s ease backwards;
}

.january{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 1.5s ease backwards;
}

.february{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 2s ease backwards;
}

.march{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 2.5s ease backwards;
}

.april{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 3s ease backwards;
}

.may{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 3.5s ease backwards;
}

.june{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 4s ease backwards;
}

.july{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 4.5s ease backwards;
}

.august{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 5s ease backwards;
}

.september{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 5.5s ease backwards;
}

.october{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 6s ease backwards;
}

.november{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 6.5s ease backwards;
}

.december{
   background-color: white;
   box-shadow: 4px 4px 10px rgba(44, 44, 44, 0.253);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 97rem;
   animation: fade-in 1s 7s ease backwards;
}

section h3{
    text-align: center;
    font-weight: 600;
}

section h4{
    text-align: center;
    font-weight: 300;
}

section p{
    font-weight: bold;
}

span{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
}

footer{
    background-color: #531112;
    color: #fff;
}

.nav-links2 a{
    text-decoration: none;
    color: #ffffffb6;
    margin-right: 20px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 13px;
}

.nav-links2 a:hover{
   color: #960508;  
}

.paragraph{
    font-size: 13px;
    color: #ffffffb6;
}

.prayer{
    margin-right: 2rem;
}

.row4{
    gap: 20px;
}

.to-top{
    font-size: 3rem;
    /* color: #f6099b; */
    color: red;
    position: fixed;
    bottom: 16px;
    right: 32px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

.to-top.active{
    pointer-events: auto;
    opacity: 1;
}


